@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  height: 8px;
  cursor: default !important;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background-color: #c3c3c5; /* Thumb color */
  border-radius: 8px; /* Rounded corners */
  cursor: default !important;
}

/* Style the track */
::-webkit-scrollbar-track {
  background-color: #fff; /* Track color */
  border-radius: 8px; /* Rounded corners */
  cursor: default !important;
}

/* Optional: Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #ababae; /* Hovered thumb color */
  cursor: default !important;
}

.resize {
  resize: both; /* Allows resizing both horizontally and vertically */
  overflow: auto; /* Ensures scrollbars appear when needed */
}

.select__value-container {
  bottom: 2px;
}

.select__indicator,
.select__dropdown-indicator {
  padding-right: 8px !important;
  padding-top: 0px !important;
}

.select__menu {
  width: 140px !important;
}

.select__option {
  text-wrap: nowarp !important;
  font-size: 12px !important;
}

.job-dropdown__menu
{
  z-index: 1000 !important;
}

.first\:fill-muted:first-child {
  /* fill: #000; */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose section {
  margin-bottom: 2.5rem; /* or whatever spacing you want */
}
.prose section > * {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose section ul,
.prose section ol {
  list-style-type: disc;
  margin-left: 1.5em;
  padding-left: 1.5em;
}
.prose section ol {
  list-style-type: decimal;
}

.prose p 
{
  margin-bottom: 0.5em;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}